/* app css stylesheet */


nav {
  margin-bottom: 20px;
}


.note-default-state {
    z-index: 20;
}

.note-dragging {
    z-index: 20;
}

.note-with-effect .note-extent {
    opacity: 0.3;
}

.continued-note {
    opacity: 0.3;
}

.note-text,
.note-text-outline {
    font-weight: bold;
}

.note-text-outline,
.editable .note-text-outline.clickable:hover {
    stroke: white; 
    stroke-width: 4;
}

.measure {
    display: inline-block;
    position: relative;
}

.measure .string,
.measure .measure-begin {
  stroke: #000000; 
  stroke-width: 0.5px;
}

.measure .etc {
    position: absolute;
}

.ruler-bottom {
    stroke: #BABABA;
    stroke-width: 0.5px;
}

.ruler-tick {
    stroke: #BABABA;
    stroke-width: 1px;
}


.transparent {
  fill-opacity: 0;
}


.string-1 {
  fill: #FF0000; 
}

.string-2 {
    fill: #0000FF;
}

.string-3 {
    fill: #008A00;
}

.string-4 {
    fill: #D149BD;
}

.string-5 {
  fill: #F78C00; 
}

.string-6 {
  fill: #7300FF;
}

.string-1-stroke {
    stroke: #FF0000;
}

.string-2-stroke {
    stroke: #0000FF;
}

.string-3-stroke {
    stroke: #008A00;
}

.string-4-stroke {
    stroke: #D149BD;
}

.string-5-stroke {
    stroke: #F78C00;
}

.string-6-stroke {
    stroke: #7300FF;
}

.selected-note {
    fill: #70FFB5;
    stroke: #70FFB5;
}

.selected-measure {
    background-color: #70FFB5;
    opacity: 0.5;
}

.form-inline .form-group {
  margin-top: 10px;
}

.panel > .arrow,
.panel > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.panel > .arrow {
  border-width: 11px;
}
.panel > .arrow:after {
  content: "";
  border-width: 10px;
}
.panel.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.panel.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}

.panel.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.panel.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}


.editable .clickable {
    cursor: pointer;
}

.editable .clickable:hover,
.editable .transparent.clickable:hover{
    fill: rgb(108, 211, 245);
    fill-opacity: .5;
}

.editable .note-text.clickable:hover {
    stroke: rgb(108, 211, 245);
    stroke-opacity: 0.5;
    stroke-width: 2;
    fill: #000000;
    fill-opacity: 1;
}

.btn.disabled, .btn[disabled] {
    background-color: #cccccc;
}

.measure-editor {
    width: 10em;
    border: 1px solid black;
}


